<template>
    <form @submit.prevent="handleSubmit">
        <div class="mb-3">
            <label class="form-label">Email address</label>
            <input type="email" class="form-control" v-model="email">
        </div>
        <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="password" class="form-control" v-model="password">
            <span v-if="passwordErr" class="text-danger text-bold">{{ passwordErr }}</span>
        </div>

        <div class="mb-3">
            <label class="form-label">Select your position</label>
            <select class="form-select" v-model="position">
                <option value="designer">Web Designer</option>
                <option value="developer">Web Developer</option>
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label">Your skills</label>
            <input type="text" class="form-control" v-model="tempSKill" @keyup="addSkills">
            <span v-for="skill in skills" :key="skill" @click="removeSkill(skill)">{{skill}} <br></span>
        </div>

        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" v-model="isAgreed">
            <label class="form-check-label">Check me out</label>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <div>
        <p>Email: {{ email }}</p>
        <p>Password: {{ password }}</p>
        <p>Position: {{ position }}</p>
        <p>Skills: {{ skills }}</p>
        <p>Agreed: {{ isAgreed }}</p>
    </div>
</template>

<script>
export default {
    data(){
        return{
            email: '',
            password: '',
            position: '',
            tempSKill: '',
            skills: [],
            isAgreed: false,
            passwordErr: ''
        }
    },

    methods: {
        addSkills(e){
            var skill = this.tempSKill.slice(0, this.tempSKill.length - 1)
            if(e.key === ',' && this.tempSKill){
                if(!this.skills.includes(skill)){
                    this.skills.push(skill)
                }
                this.tempSKill = ""
            }
        },

        removeSkill(value){
            this.skills = this.skills.filter((skill) => {
                return skill != value
            })
        },

        handleSubmit(){
            this.passwordErr = this.password.length < 6 ? "Paswword length must be greater or equal 6" : ''
        }
    }

}
</script>

<style>

</style>