<template>
  <div class="row text-center">
    <br><h1>VUE FORM</h1><br>
  </div>
  <div class="row">
    
    <div class="col-3"></div>
    <div class="col-6">
      <div class="card">
        <div class="card-body"><Form /></div>
      </div>
    </div>
    <div class="col-3"></div>
  </div>
  
</template>

<script>
import Form from './components/Form.vue'

export default {
  name: 'App',
  components: {Form}
}
</script>

<style>
/* #app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
} */
</style>
